:root {
    --default-font: "Quicksand", sans-serif;
    --heading-font: "Russo One", sans-serif;
    --nav-font: "Afacad Flux", sans-serif;

    --background-color: #1B1B1B;
    --default-color: #785E5B;
    --heading2-color: #836e4f;
    --heading-color: #7C8598;
    --accent2-color: rgb(130, 152, 145);
    --accent-color: #8f793f;
    --surface-color: #c8bbb3;
    --text-color: #E4E4E4;
    --error-color: #f44336;
    --success-color: rgba(131, 173, 68);
}

body {
    padding-top: 80px !important;
    /*background-color: #111 !important;*/
}

h1 {
    text-align: center;
    font-size: 27px;
    font-weight: lighter;
}

.navbar span {
    color: var(--heading2-color);
    font-family: var(--heading-font);
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    font-family: var(--default-font);
    font-weight: 700;
    height: 70px;
    width: 100%;
    z-index: 2000;
}

.light.navbar {
    background-color: #f2f2f2;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.navbar-title {
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.light.navbar-title {
    color: var(--background-color);
}

.metropol {
    color: var(--heading2-color);
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    padding: 20px;
}

.light.navbar-links li a {
    color: var(--background-color);
}

.navbar-links li a.active {
    color: var(--heading2-color);
}

.navbar-links li a:hover {
    color: var(--heading2-color);
}

.navbar-icons,
.theme-switch{
    display: flex;
    align-items: center;
}

.profile-icon i,
.navbar-toggle i,
.theme-switch i {
    font-size: 30px;
    color: white;
    transition: color 0.3s;
}

.theme-switch label {
    margin: 0;
}

.light.profile-icon i,
.light.navbar-toggle i,
.theme-switch.light i {
    color: var(--background-color);
}

.profile-icon i:hover,
.navbar-toggle i:hover,
.theme-switch i:hover{
    color: var(--heading2-color);
}

.navbar-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.light.navbar-toggle {
    color: var(--background-color);
}

.gg-sun {
    position: relative;
    -webkit-transform: scale(var(--ggs, 1));
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}

.gg-moon {
    overflow: hidden;
    position: relative;
    -webkit-transform: rotate(-135deg) scale(var(--ggs, 1));
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}

.gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
}

.gg-sun:after,
.gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}

.gg-sun:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.gg-sun:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 1300px) {
    .navbar {
        padding: 0 40px;
    }
}

@media (max-width: 1080px) {
    .navbar {
        padding: 0 20px;
    }

    .navbar-links {
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        background-color: var(--background-color);
        position: fixed;
        top: 80px;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 10px;
        border: 2px solid var(--text-color);
        gap: 25px;
        z-index: 100;
    }

    .light.navbar-links {
        background-color: var(--text-color);
        border: 2px solid var(--background-color);
    }

    .navbar-title {
        justify-content: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}